# Topics

## 1. "is equal to" vs. "is" 
## 2. List Comprehension
## 3. Nested Lists 
## 4. Tuples
## 5. Functions

In [1]:
'''
Tuples practise
'''
coords =(25,58,26)
coords[0]

25

In [4]:
coords[0]

25

In [13]:
'''
Dictonaries
'''

countries = {'US' : 'united sates', 'CA' : 'Canada', 'MX' : 'Mexico'}
#countries
countries['CA']
countries['VE'] = 'Venzuela'
countries

'VE' in countries 
countries.keys()
countries.values()
countries.items()
countries.get('IT')

In [30]:
'''
for loops
'''
num= [1,2,3,4,5]
for i in num:
    print('-')
    print (i)

-
1
-
2
-
3
-
4
-
5

In [17]:
num = {'a':'1' , 'b' : '2', 'c':'3'}
for i in num:
    print(i)

for v in num.values():
    print (v)
    
for(key, val) in num.items():
    print(key,val)
    print(key+val)

a
b
c
1
2
3
a 1
a1
b 2
b2
c 3
c3

In [22]:
'''
while loop
'''
i =0 
while i<5:
    i+=1
    print(i)

1
2
3
4
5

In [23]:
ids= range(0,10)
for i in ids:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [24]:
j=0
while j<10:
    j+=1
    print (j)

1
2
3
4
5
6
7
8
9
10

In [25]:
x='John'
y='john'
x.lower() == y.lower()

True

In [27]:
name='rak'
if name=='james':
    print('its james')
elif name=='rak':
    print ('its rak')
else:
    print('its john')

its rak

In [29]:
vals= range(1,11)
for v in vals:
    
    if v % 2==0:
        continue 
        
    else:
         print(v)

1
3
5
7
9

In [35]:
print(num)
revnum=[]
i = len(num)
while i!= 0:
    revnum.append(i)
    i-=1
print(revnum)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [42]:
'''
date library
'''
from datetime import datetime
datetime.today()
today = datetime.today()
print(today.year)
print(today.month)
type(today)

2020
1

datetime.datetime

In [45]:
was_born = datetime(1992,1,14)
age = today - was_born
age.days

10242

In [47]:
from datetime import timedelta
today+timedelta(days = 7)
datetime.utcnow()

datetime.datetime(2020, 1, 30, 6, 50, 5, 573696)

In [54]:
def myfunc(fname, lname, ph=None):
    if ph is not None:
        print (f'hellow {fname} {lname} {ph}')
    else:
         print (f'hellow {fname} {lname}')
    
myfunc('rak' ,'venka','6666')
myfunc('adsd','sads')

hellow rak venka 6666
hellow adsd sads